body {
    background: #e9ecef;
    /*background: #00b5ad;*/
    margin: 0 10px;
}

.article {
    padding: 5px;
    max-width: 1000px;
}

.article img {
    max-width:100%;
    height:auto
}

.boards {
    margin: 5px;
    max-width: 400px;
    width: 100%;
    float: left;
}

.board {
    max-width: 400px;
    width: 100%;
}

.lastTournament {
  float: left;
  margin-top: -35px;
}

@media only screen and (max-width: 500px) {
    body {
        padding: 0;
        margin: 0;
    }
    .body {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .flow50 {
        width: 100%;
        margin: 0;
        display: inline-block; /*or table */
    }

    .flow33 {
        width: 100%;
        margin: 0;
        display: inline-block; /*or table */
    }

    .flow66 {
        width: 100%;
        margin: 0;
        display: inline-block; /*or table */
    }

    .body {
        font-size: calc(9px + 6 * ((100vw - 320px) / 180));
    }

    #tournament-spec, #tournament-auto, #surpriseGameId {
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 500px) {
    .body {
        width: 100%;
    }

    .flow50 {
        width: 45%;
        margin: 0;
        display: inline-block; /*or table */
        min-width: 290px;
    }

    .flow33 {
        width: 45%;
        margin: 0;
        display: inline-block; /*or table */
        min-width: 290px;
    }
}

@media only screen and (min-width: 768px) {
    .body {
        width: 768px;
    }

    .flow50 {
        width: 45%;
        margin: 0;
        display: inline-block; /*or table */
        min-width: 320px;
    }

    .flow33 {
        width: 31%;
        margin: 0;
        display: inline-block; /*or table */
        min-width: 240px;
    }

    .flow66 {
        width: 63%;
        margin: 0;
        display: inline-block; /*or table */
    }
}

@media only screen and (min-width: 940px) {
    .body {
        width: 1200px;
    }
    .flow50 {
        width: 45%;
        margin: 0;
        display: inline-block; /*or table */
        min-width: 300px;
    }

    .flow33 {
        width: 31%;
        margin: 0;
        display: inline-block; /*or table */
        min-width: 300px;
    }

    .flow66 {
        width: 63%;
        margin: 0;
        display: inline-block; /*or table */
        min-width: 500px;
    }

    .boards {
        width: 280px;
        float: left;
    }

    .board {
        width: 280px;
    }

    .mfColumns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mfColumns div.boards {
        order: 0;
    }

    .mfColumns div.lastTournament {
        order: 1;
    }

    .mfColumns div.leaderboard {
        width: 300px;
        order: 2;
    }
}

.mondayFightCaption {
    max-height: 40px;
    padding: 5px 0;
    position: sticky;
    top: 0;
    width: 1200px;
    z-index: 5;
    background-color: #00b5ad;
    color: #ffeeba;
}

.icon {
    margin-left: 80px;
}

.mondayFightCaption .captionText {
    font-size: min(35px, calc(100vw/15));
    position:relative;
    top:0;
    margin-left: 10px;
}

.first {
    margin-top:5px;
}

.topnav {
    overflow: hidden;
    background-color: #00b5ad;
    position: relative;
    width:200px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.hamburger {
    font-size:40px;
    color:#f2c037;
}

.hamburger:hover {
    color: #fdfdfe;
}

.second a, .first a, .third a {
    color: #1b78d0;
    text-decoration: none;
}

.podium {
    max-width: 600px;
    width: 97vw;
}

.podium .first {
    width: 41%;
    font-size: 1.9em;
}

.podium .second {
    font-size: 1.6em;
    width: 30%;
}

.podium .third {
    font-size: 1.6em;
    width: 28%;
}

.podium>div {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.podium .first .trophy {
    height: 9em;
    max-width: 100%;
    width: 7.7em;
    background-image: url(../img/lichess-massive.svg);
}

.podium .second .trophy {
    height: 9em;
    max-width: 100%;
    width: 6.6em;
    background-image: url(../img/lichess-silver-1.svg);
}

.podium .third .trophy {
    height: 7em;
    max-width: 100%;
    width: 6.6em;
    background-image: url(../img/lichess-bronze-2.svg);
}

.podium .trophy {
    margin: 0 auto .5em auto;
    background: center / contain no-repeat;
}


table, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font: inherit;
    vertical-align: middle;
    text-align: inherit;
}

.podium .stats {
    margin: .5em auto 0 auto;
    font-size: .7em;
}

.podium .stats td {
    font-weight: bold;
    padding-left: 5px;
    text-align: right;
}

.podium .stats th {
    letter-spacing: -1px;
    text-align: left;
}


td, th {
    display: table-cell;
}

.lImg {
    float: left;
    margin: 5px 5px 5px 0;
}

.rImg {
   float: right;
   margin: 5px 0 5px 5px;
}

.results {
    max-width: 600px;
    width: 97vw;
    vertical-align: middle;
    display: table-cell;
}

.tour__standing {
  /*font-family: 'Noto Sans', Sans-Serif;*/
  /*border: 1px solid black;*/
    vertical-align: middle;
}

.results table {
    border-collapse: collapse;
    border-spacing: 0;
}

.tour__standing .sheet {
    text-align: right;
    padding-right: 0;
    padding-left: 0;
    letter-spacing: 0.1em;
}

.slist {
    max-width: 500px;
    width: min(95%, max(85%, calc(95% - 2.5 * (100vw - 400px))));
    vertical-align: middle;
    margin: 0 auto;
}

.slist td {
    padding: 0.2rem;
}

.user-link {
    color: #4d4d4d;
    text-decoration: none;
    cursor: pointer;
}

.tour__standing .player .user-link {
    align-items: center;
    color: #1b78d0;
}

.player-blue {
    color: #1b78d0;
}

.result-url {
    color: #1b78d0;
    text-decoration: none;
    cursor: pointer;
}

.tour__standing .player .name {
    display: inline-block;
    padding-right: 5px;
    max-width: 140px;
}

.tour__standing .user-link .rating {
    display: inline-block;
    font-style: italic;
    font-size: 0.8em;
}

.tour__standing .sheet score {
    opacity: 0.7;
}

.tour__standing .sheet>* {
    display: inline-block;
}

.tour__standing streak {
    color: #629924;
}

.tour__standing double {
    color: #d59020;
}

.tour__standing .total {
    text-align: right;
    font-weight: bold;
    padding-left: 2vmin;
}

.tour__standing .rating-diff {
    text-align: right;
    padding-right: 2vmin;
}

loss {
    color: red;
}

win {
    color: green;
}

.info {
    max-width:600px;
    width: 97vw;
    text-align: center;
    display: table;
}

.bishop {
    max-width: 16vw;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 0.8em;
    background-color: #e3e4ec;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid black;
    cursor: auto;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

/*
.tooltip:hover .tooltiptext {
    visibility: visible;
}
*/

#achievements {
    max-width: 600px;
    width: 100vw;
    text-align: center;
    display: block;
    font-size: 16px;
}

#achievements .user-link {
    color: #1b78d0;
}

#achievements:after {
    content: " ";
    display: block;
    clear: both;
}

.achievementTab {
    max-width: 256px;
    width: 50vw;
    display: inline-block;
    position: relative;
}

.achievementH110 {
    max-height: 110px;
    height: 22vw;
}

.achievementH75 {
    max-height: 75px;
    height: 15vw;
}

.achievementW110 {
    max-width: 110px;
    width: 24vw;
}

.achievementImg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;
    margin: auto;
}

.achievement {
    font-size: 0.8em;
    background-image: url("../img/achievements/achievementBack.png");
    color: black;
    border-radius: 10px;
    padding: 5px 0;
    border: 2px solid black;
    cursor: auto;

    max-width: 123px;
    width: 23.5vw;
    text-overflow: ellipsis;

    margin: 2.5px;
}

.achievementPlayer {
    margin: 5px 0;
    padding: 10px 0;
    background-color: rgba(180,180,180,0.4);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}


.achievementPlayerFont {
    font-size: min(1.5em, calc(7px + 4 * (100vw / 180)))
}

.achievementDesc {
    padding: 5px 5px;
    color: #1b78d0;
    font-size: min(1.5em, calc(9px + 3 * (100vw / 180)));
    margin-top:2px;
    height: 50px;
}

.achievement.left {
    /*margin-right: 132px;*/
    max-height: 175px;
    height: 37vw;
    border-right: 1px dotted black;
}

.achievement.right {
    max-height: 175px;
    height: 37vw;
    margin-left: -2px;
    border-left: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.achievementDesc:after {
    content: " ";
    display: block;
    clear: both;
}

.league-link {
    color: black;
    text-decoration: none;
}

img.img100 {
    max-width: 100px;
    width: 20vw;
    float: right;
    margin: 3px 3px 0 0;
}

.img100.left {
    float: left;
}

.img100.right {
    float: right;
    margin: 3px 0 0 3px;
}

@font-face {
    font-family: 'Bahnshrift Light';
    src: url('../fonts/bahnschrift2.ttf');
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'FjallaOne';
    src: url('../fonts/FjallaOne-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'BankGothic';
    src: url('../fonts/BankGothic Md BT Medium.ttf');
    font-style: normal;
    font-stretch: condensed;
}

#tournament-spec img {
    width:100%;
}

#tournament-spec {
    margin: 10px 5px 0 5px;
}

.tabulator-row.tabulator-group span {
    margin-left: 0;
    color: black;
}
